/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #121212;
    font-size: 0.9em;
    line-height: 1.2;
    font-family: 'Palanquin', sans-serif;
}
a{
    text-decoration: none;
    color: #4990E2;
    font-family: 'Palanquin', sans-serif; 
}
.gallery > div {
  position: relative;
  float: left;
  padding: 20px;
}


.gallery > div > img {
  display: inline-block;
  width: 400px;
}
.map
 {
    width: 100%; 
    top: 80px; 
}
.headerimage
{
    color:#121212;
    width: 100%;
    height: 600px;
    background-image: url("../img/header.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}
.urban
{
    color:#121212;
    width: 100%;
    height: 600px;
    background-image: url("../img/poster.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.start
{
    color:#121212;
    width: 100%;
    height: 600px;
    background-image: url("../img/city/berlin.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}
::-moz-selection {
    background: #F29999;
    text-shadow: none;
}

::selection {
    background: #F29999;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    width: 75%;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
    border-style: none;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
background-color: white;
font-size: 1.2em;
line-height: 1.6;
}
.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.nav-down {
    position: fixed;
    width: 100%;
    display:block;
    top: 0px;
    transition: top 0.2s ease-in-out;
    z-index: 10; 
}
.nav-up {
  top: -40px; // same as header height. use variables in LESS/SASS
}

.footer-container,
.main aside {
}
/*.main car {
    background-image: url("../img/car.svg"); 
    font-family: 'Palanquin', sans-serif;
    font-size: 0.9em;
    line-height: 1.2em;
    color: #121212;
    padding: 0px 5% 10px;
}*/

.nav-down,
.footer-container,
.main aside {
    background: white;
}

.title {
    color: black;
    font-family: 'Martel';
}
#copyright
{
    text-align: right;
    size: 0.7em;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 5px 0;

    text-align: left;
    text-decoration: none;
    font-weight: normal;

    color: #121212;
    background: white;
}

nav a:hover {
    color: #B7B7B7;
}
nav a:visited {
    color: black;
}

/* ==============
    MOBILE: Main
   ============== */

mapsection
{
    width: 100%;
    height:500px;
}
.header
{
    width: 100%;
    height: 400px;
    background-image: url("../img/header.png");
    background-repeat: no-repeat;
}
/*.berlin
{
    color:#121212;
    width: 100%;
    height: 800px;
    background-image: url("../img/header.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}*/
/*#image
{
    width: 100%;
    background-attachment: fixed;
}*/
.main {
    padding: 30px 0;
}

.main article h1 {
    color: #121212;
    font-family: 'Martel';
    font-size: 2.2em;
    line-height: 1.3em;
}

.afterviz {
    margin-top: -10px;
    color: #121212;
    font-family: 'Martel';
    font-size: 2.2em;
    line-height: 1.3em;
}
.main car {
    background-image: url("../img/car.svg"); 
    font-family: 'Palanquin', sans-serif;
    font-size: 0.9em;
    line-height: 1.2em;
    color: #121212;
    padding: 0px 5% 10px;
}
.main aside {
    background-color: white;
  font-family: 'Palanquin', sans-serif;
  font-size: 0.9em;
  line-height: 1.2em;
    color: #121212;
    padding: 0px 5% 10px;
}
.main aside2 {
        background-color: white;
  font-family: 'Palanquin', sans-serif;
    font-size: 0.9em;
  line-height: 1.2em;
    color: #121212;
    padding: 0px 5% 10px;
}
.main aside3 {
        background-color: white;
  font-family: 'Palanquin', sans-serif;
    font-size: 0.9em;
  line-height: 1.2em;
    color: #121212;
    padding: 0px 5% 10px;
}
svg-control {
    background-color: white;
    font-family: 'Palanquin', sans-serif;
    font-size: 0.9em;
    line-height: 1.2em;
    color: #121212;
    padding: 0px 10% 20px;
}
button{
    border-color: none;
    color:black;
    background-color: white;
    border: none;
}
.MessstationenTreemap{
    background-color: white;

}

.footer-container footer {
    color: #121212;
    padding: 20px 0;
    border-top: 1px solid white;
    background-image: url("../img/fhp.svg");
    background-repeat: no-repeat;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


a.extern {
    transition-duration: 0.5s;
    text-decoration:none;
    color: black;
        background-size: 10px 10px;

    padding-right: 5px;

}

a.extern:hover {
    text-decoration:bold;
    color: black;
    background-color: black;
    background: url(chain.svg) no-repeat top right;
    background-size: 10px 10px;
    padding-right: 5px;
}

/* ==========================================================================
 .chain {
  color: white;
  text-decoration-line: none;
  background: url(chain.svg);
  background-size: 10px 10px;
  background-repeat: no-repeat;
}  ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        margin: 0 1.7%;
        padding: 30px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    /*.main aside {
        -webkit-box-shadow: 0 1px 0px black;
           -moz-box-shadow: 0 1px 0px black;
                box-shadow: 0 1px 0px black;
    }
    .main aside2{
        -webkit-box-shadow: 0 1px 0px black;
           -moz-box-shadow: 0 1px 0px black;
                box-shadow: 0 1px 0px black;
    }
    .main aside3{
        -webkit-box-shadow: 0 1px 0px black;
           -moz-box-shadow: 0 1px 0px black;
                box-shadow: 0 1px 0px black;
    }*/
/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 40%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
        /*margin-top: 90px;*/
    }
    .main car {
    background-image: url("../img/car.svg"); 
    font-family: 'Palanquin', sans-serif;
    font-size: 0.9em;
    line-height: 1.2em;
    color: #121212;
    padding: 0px 5% 10px;
}

    .main aside {
        float: right;
        width: 28%;
        margin-top: 90px;
        border-left: black 1px;
        border-left-style: solid;
        background: white;

    }
    .main aside2 {
        float: right;
        width: 28%;
        margin-top: 90px;
        border-left: black 1px;
        border-left-style: solid;
        background: white;
    }
    .main aside3 {
        float: right;
        width: 28%;
        margin-top: 90px;
        border-left: black 1px;
        border-left-style: solid;
        background: white;
    }
    .main aside_control {
        float: right;
        width: 28%;
        margin-top: 90px;
        border-left: black 1px;
        border-left-style: solid;
        background: white;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;

}

.clearfix:after {
    clear: both;

}

.clearfix {
    *zoom: 1;

}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
