#frame{
	width: 100%;
	height: 100%;
	margin: 10px;
}

#map {
    z-index:-1;
    left: 2px;
    top: 2px;
	float: left;
 	width:70%;
 	height: 100%;
 	position: fixed;
}
#legend {
	float: right;
 	width:30%;
 	height: 100%;
}
#indicator_amrumer{
    background-image: url("../indicator/amrumer.png");
    width: 268px;
    height: 10px;
    float: left;
    margin-top: 5px;
}
#indicator_belziger{
    background-image: url("../indicator/belziger.png");
    width: 268px;
    height: 10px;
    float: left;
    margin-top: 10px;
}
#indicator_bruecken{
    background-image: url("../indicator/bruecken.png");
    width: 268px;
    height: 10px;
    float: left;
    margin-top: 10px;
}
#indicator_buch{
    background-image: url("../indicator/buch.png");
    width: 268px;
    height: 10px;
    float: left;
    margin-top: 10px;
}
#indicator_frankfurter{
    background-image: url("../indicator/frankfurter.png");
    width: 268px;
    height: 10px;
    float: left;
    margin-top: 10px;
}
#indicator_frohnau{
    background-image: url("../indicator/frohnau.png");
    width: 268px;
    height: 10px;
    float: left;
    margin-top: 10px;
}
#indicator_grunewald{
    background-image: url("../indicator/grunewald.png");
    width: 268px;
    height: 10px;
    float: left;
    margin-top: 10px;
}
#indicator_hardenberg{
    background-image: url("../indicator/hardenberg.png");
    width: 268px;
    height: 10px;
    float: left;
    margin-top: 10px;
}
#indicator_karlmarx{
    background-image: url("../indicator/karlmarx.png");
    width: 268px;
    height: 10px;
    float: left;
    margin-top: 10px;
}
#indicator_karlshorst{
    background-image: url("../indicator/karlshorst.png");
    width: 268px;
    height: 10px;
    float: left;
    margin-top: 10px;
}
#indicator_mariendorfer{
    background-image: url("../indicator/mariendorfer.png");
    width: 268px;
    height: 10px;
    float: left;
    margin-top: 10px;
}
#indicator_nansen{
    background-image: url("../indicator/nansen.png");
    width: 268px;
    height: 10px;
    float: left;
    margin-top: 10px;
}
#indicator_schildhorn{
    background-image: url("../indicator/schildhorn.png");
    width: 268px;
    height: 10px;
    float: left;
    margin-top: 10px;
}
#indicator_silberstein{
    background-image: url("../indicator/silberstein.png");
    width: 268px;
    height: 10px;
    float: left;
    margin-top: 10px;
}
#last-section{
    height: 350px;
}
#legend-enlarged {
    position: fixed;
    width:80%;
    height: 800px;
    display: none;
    background-color: white;
    -webkit-box-shadow: 0px 0px 52px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 52px -16px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 52px -16px rgba(0,0,0,0.75);
    padding-left: 30px;
    padding-right: 30px; 
}

#d3vis {    
    overflow-x:hidden;
    overflow-y: hidden;
    width: 100%;
}
#comparing_button{
  position: fixed;
  z-index: 99;
  padding-top:120px;
  border: none;
  font-family: 'Palanquin', sans-serif;
  color: #4990E2;
  background-color: white;
  font-style: bold;
  font-size: 26px;
  text-decoration: none;
  border-width: 0.5;
}
#comparing_button:hover{
  color: #63A6F3;
}
#comparing_button_close{
     margin-top: 20px;
     margin-right: 20px;
     position:absolute;
          top:0;
     right:0;
        border: none;
font-family: 'Palanquin', sans-serif;
  color: #4990E2;
  font-size: 44px;
  background: white;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
h1{
 	position: fixed;
	z-index: 100;
	width: 400px;
	margin-left:20px;
	margin-top: 20px;
	margin-right: 20px;
    background-color: white;
    padding: 10px;
	color: #121212;
    font-family: 'Martel';
    font-size: 36px;
    line-height: 40px;
}
h3{
            font-family: 'Palanquin', sans-serif;
            font-size: 1.9em;
            line-height: 1.4em;
}
#features {
	color: #121212;
    font-family: 'Martel';
    font-size: 1.5em;
    line-height: 1.3em;
    width: 100%;
    margin-left: 10px;
    overflow-y: scroll;
    background-color: white;
}
section {
    padding:  25px 50px;
    line-height: 25px;
    border-bottom: 1px solid #ddd;
    opacity: 0.25;
    font-size: 13px;
}
section p{
        font-family: 'Palanquin', sans-serif;
}
section.active {
    opacity: 1;
}
section:last-child {
    border-bottom: none;
    margin-bottom: 200px;
}
